

<mat-toolbar color ="primary">
    <span>

        Online_ Shoppers Application

    </span>
<span class="space-buttons"></span>
    <button *ngIf="!isLoggedIn()" routerLink="/login" mat-raised-button color ="warm">
        Login
    </button>
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color ="warn">
        Logout
    </button>
</mat-toolbar>

<mat-toolbar color = "primary" *ngIf="isLoggedIn()">
<button mat-raised-button color ="primary" routerLink="/">Home</button>
<button *ngIf="isAdmin()" mat-raised-button color ="primary" routerLink= "/addNewproduct">Add New Prodct</button>
<button *ngIf="!isAdmin()" mat-raised-button color ="primary" routerLink= "/cart">Cart</button>
<button *ngIf="!isAdmin()" mat-raised-button color ="Link" routerLink= "/myOrders">View Order Details</button>
<button *ngIf="isAdmin()" mat-raised-button color ="primary" routerLink= "/showProductDetails">Show Product Details</button>
<button *ngIf="isAdmin()" mat-raised-button color ="primary" routerLink= "/orderInformation">Order Information</button>
</mat-toolbar>










